<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Role</title>
</head>
<body>
<h1>Delete Role</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/roles">Roles list</a>
</p>
<form th:action="@{/roles/delete-role}" th:object="${roleDto}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>


        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{desc}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Delete Role"></td>
        </tr>
    </table>
</form>
</body>
</html>
