<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<h1>Delete User</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/users">Users list</a>
</p>
<form th:action="@{/users/delete-user}" th:object="${userDto}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>FullName:</td>
            <td><input type="text" th:field="*{fullname}"/></td>
        </tr>


        <tr>
            <td>UserName:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>


        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>


        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>


        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>


        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>


        <tr>
            <td>Avatar:</td>
            <td><input type="text" th:field="*{avatar}"/></td>
        </tr>


        <tr>
            <td>Activated:</td>
            <td><input type="text" th:field="*{activated}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete User"></td>
        </tr>
    </table>
</form>
</body>
</html>
